<h3>Welcome to Gitmailz</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>